.header.transparent, .entire-header .nav.open.transparent {
  background: none; /* Remove background color when transparent */
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.8);
  
}

.entire-header, .login-panel, .entire-header * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.entire-header {
  display: flex;
  flex-direction: column;
  position: sticky;
  top: 0;
  z-index: 3000;
  width: 100%;
  
}

.login-panel {
  width: 100%;
  top: 0;
  z-index: 2000;
  padding: 0 20px 0 20px;
  background-color: #333333;
  position: relative;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 20px;
    /* background: linear-gradient(to bottom, #333333 55%, rgba(51, 51, 51, 0.8) 100%); */
    background-color: #333;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.8);
    color: white;
    left: 0;
    right: 0; /* Ensure the header extends to the right edge */
    z-index: 1000; /* Ensure the header is above other content */
    width: 100%;
    transition: transform 0.30s ease;
    transform-origin: top;
    position: relative;
    transition: background-color 0.30s ease-in-out, transform 0.30s ease; /* Added transition for background-color */
  }

/* Existing CSS remains unchanged */

  .header.hidden {
    transform: translateY(-100%); /* Move the header out of view */
  }

  .logo {
    font-size: 2em;
    font-weight: bold;
  }
  
  .nav {
    display: flex;
    gap: 25px;
  }
  
  .nav a {
    font-size: 1.2em;
    color: white;
    text-decoration: none;
  }
  
  .nav a:hover {
    text-decoration: underline;
  }
 
  
  /* Responsive Styles */
@media (max-width: 768px) {
  .header {
    flex-direction: row;
    align-items: center;
  }

  .nav {
    flex-direction: column;
    gap: 15px;
    margin-top: 20px;
  }
  
  .logo {
    font-size: 1.5rem; /* Reduce logo size for smaller screens */
    margin-bottom: 10px;
  }
  
  .nav a {
    font-size: 1em; /* Reduce font size for smaller screens */
  }

  .login-panel {
    padding: 0;
  }

}

.header.open .nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #333;
  position: absolute;
  top: 60px; /* Adjust this value to position the menu below the header */
  padding-top: 20px;
  padding-bottom: 15px;
  left: 0;
  right: 0;
  visibility: visible;
  transform: translateY(0);
  transition: all 0.3s ease-in-out;
  z-index: 1;
}

.header.open .menu-icon .bar:nth-child(1) {
  transform: translateY(9px) rotate(45deg);
}

.header.open .menu-icon .bar:nth-child(2) {
  opacity: 0;
}

.header.open .menu-icon .bar:nth-child(3) {
  transform: translateY(-5px) rotate(-45deg);
}

.menu-icon {
  display: none; /* Initially hide the burger icon */
  cursor: pointer;
  background: transparent;
  border: none;
  padding-bottom: 12px;
}

.menu-icon .bar {
  width: 25px;
  height: 3px;
  background-color: white;
  margin: 4px auto;
  transition: all 0.3s ease-in-out;
}

/* Add this CSS to style the burger icon on smaller screens */
@media (max-width: 768px) {
  .menu-icon {
    display: block;
  }

  .nav {
    display: none; /* Initially hide the navigation menu */
  }
}