
.home-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    position: relative;
    overflow-x: hidden;
}

* {
    outline: 1px solid red;
    outline-offset: -1px;
}
