.search-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e8e8e8;
    padding: 20px 0;
}

.search-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 20px;
    background-color: #e8e8e8;
    width: 50%;
}

.search-container input {
    padding: 15px;
    font-size: 16px;
    border: none;
    outline: none;
    flex: 1;
}

.search-container button,
.listing-dropdown {
    padding: 18px 25px;
    font-size: 15px;
    cursor: pointer;
    border: none;
}

.search-box-container {
    display: flex;
    justify-content: center;
    align-items: stretch;
    width: 100%;
    height: 60px;
    margin: 0 auto;
}

.listing-btn-container {
    align-self: flex-start;
    padding: 15px 0;
}

.filter {
    position: relative;
    background-color: white;
}

.filter::after {
    content: "";
    position: absolute;
    top: 25%;
    left: 0;
    width: 2px;
    height: 50%;
    background-color: #ccc;
}

.search-button {
    background-color: #333;
    color: white;
}

.listing-active,
.listing-sold,
.listing-dropdown {
    background-color: white;
    color: #333;
}

.active {
    background-color: #333;
    color: white;
}

/* DropdownComponent.css */

.dropdown-container {
    position: relative;
    display: flex;
    align-items: center;
    font-size: 24px;
    cursor: pointer;
    height: 100%;
    background-color: #fff;
    padding: 0 15px;
}

.dropdown-container::after {
    content: "";
    position: absolute;
    top: 25%;
    right: 0;
    width: 2px;
    height: 50%;
    background-color: #ccc;
}

.selected-option {
    display: flex;
    align-items: center;
}

.selected-option svg {
    margin-left: 5px;
}

.options-container {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    z-index: 1;
}

.option {
    padding: 10px;
    border-bottom: 1px solid #eee;
}

.option:last-child {
    border-bottom: none;
}

.option:hover {
    background-color: #f6f6f6;
}

.dropdown-container:hover .selected-option,
.dropdown-container:hover {
    background-color: #333;
    color: white;
}

/* Responsive Styles */
@media (max-width: 768px) {
    .search-container {
        width: 90%;
        padding: 10px;
    }

    .search-title h2 {
        font-size: 24px;
    }

    .search-title p {
        font-size: 14px;
    }

    .search-box-container {
        flex-direction: column;
    }

    .listing-btn-container {
        flex-direction: column;
        align-items: center;
    }

    .listing-btn-container button {
        margin-bottom: 10px;
    }

    .search-box-container {
        gap: 10px;
    }

    .search-container button {
        margin-bottom: 10px;
    }

    .dropdown-container {
        font-size: 18px;
    }

    .dropdown-container {
        padding: 0 10px;
    }

    .option {
        padding: 15px;
    }

    .options-container {
        width: 100%;
        left: 0;
        right: 0;
        box-sizing: border-box;
    }
}
