.slideshow {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.slide-image {
    width: 100%;
    height: 100vh;
    object-fit: cover;
    object-position: center center;
    position: relative;
    z-index: 0;
}


.prev-button, .next-button {
    font-size: 24px;
    position: absolute;
    bottom: 15%;
    left: 50%;
    transform: translateY(-50%);
    background-color: rgba(0,0,0,0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    z-index: 2; /* ensures buttons are always on top */
    transform: translateY(50%);  /* Adjusts vertically */
    border: 2px solid white;  /* Add a border for more emphasis */
}

.prev-button {
    transform: translateY(50%) translateX(-150%);  /* Move it to the left of the center */
}

.next-button {
    transform: translateY(50%) translateX(50%);  /* Move it to the right of the center */
}

/* Styles added for the sliding effect */
.slideshow {
    position: relative;
    overflow: hidden;
    width: 100%;
}

.images-container {
    position: relative;
    display: flex;
    transition: all 1s;
}

.slide {
    flex: 0 0 100%;
    position: relative;
    overflow: hidden;  /* Ensures gradient doesn't spill over */
}

.slide img {
    display: block;  /* Remove any default margins/paddings */
    min-width: 100%;  /* Ensure the image covers the width */
    min-height: 100%;  /* Ensure the image covers the height */
    object-fit: cover;  /* Ensures the image covers the div while maintaining its aspect ratio */
    object-position: center;  /* Centers the image */
}

.slide::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(to top, rgba(0, 0, 0, 1), transparent 60%);
    pointer-events: none;  /* ensures the gradient doesn't interfere with clicks on the image */
    z-index: 1;  /* ensures gradient is above the image */
}


@media (max-width: 768px) {
    .prev-button, .next-button {
        font-size: 18px;
    }
}

@media (max-width: 768px) {
    .prev-button, .next-button {
        padding: 8px 12px;
        bottom: 10%; /* Adjust button position for better visibility on smaller screens */
    }

    .prev-button {
        transform: translateY(50%) translateX(-125%);  /* Adjust position slightly */
    }

    .next-button {
        transform: translateY(50%) translateX(25%);  /* Adjust position slightly */
    }
}

@media (max-width: 768px) {
    .slideshow {
        height: 50vh; /* Adjust to a smaller height on mobile devices */
    }

    .slide-image {
        object-fit: contain; /* Ensure the entire image is visible */
        background-color: #000; /* Any desired background color to fill potential empty space */
    }
}

