body {
    overflow-x: hidden;
    background-color: #2c3e50;
}


.slideshow {
    position: relative;
    top: 0;
    width: 100%;
    max-width: 100%;
    height: calc(101vh - var(--login-panel-height)) !important;
    overflow: hidden;
    z-index: 200;
    margin-top: -100px;
}



.slide-image {
    width: 100vw;
    object-fit: cover;
    object-position: center center;
    position: relative;
    z-index: -1;
}


.prev-button, .next-button {
    font-size: 50px;
    position: absolute;
    bottom: 15%;
    left: 50%;
    transform: translateY(-50%);
    background-color: rgba(0,0,0,0.5);
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    z-index: 2; /* ensures buttons are always on top */
    border: 2px solid white;  /* Add a border for more emphasis */

    /* Centering Styles */
    display: flex;
    align-items: center;
    justify-content: center;
}

.prev-button {
    transform: translateY(50%) translateX(-150%);  /* Move it to the left of the center */
}

.next-button {
    transform: translateY(50%) translateX(50%);  /* Move it to the right of the center */
}

/* Styles added for the sliding effect */
.images-container, .slide {
    height: 100vh;
}

.images-container {
    position: relative;
    display: flex;
    transition: all 1s;
    height: 100%;
}


.slide {
    flex: 0 0 100%;
    position: relative;
    overflow: hidden;  /* Ensures gradient doesn't spill over */
}

.slide img {
    display: block;  /* Remove any default margins/paddings */
    min-width: 100%;  /* Ensure the image covers the width */
    min-height: 100%;
    object-fit: cover;  /* Ensures the image covers the div while maintaining its aspect ratio */
    object-position: center;  /* Centers the image */
}

.slide::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(to top, rgba(0, 0, 0, 1), transparent 60%);
    pointer-events: none;  /* ensures the gradient doesn't interfere with clicks on the image */
    z-index: 1;  /* ensures gradient is above the image */
}

.welcome-message {
    text-align: center;
    color: white;
    font-size: 48px;
    position: absolute;
    bottom: 22%; /* adjust this value as needed */
    left: 50%;
    transform: translateX(-50%); /* centers the text */
    z-index: 2;
}

.text-border {
    padding: 10px;
    display: inline-block; /* Keeps the border snug to the text */
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.8);
}

@media (max-width: 768px) {
    .prev-button, .next-button {
        font-size: 18px;
    }
}

@media (max-width: 768px) {
    .prev-button, .next-button {
        padding: 8px 12px;
        bottom: 10%; /* Adjust button position for better visibility on smaller screens */
    }

    .prev-button {
        transform: translateY(50%) translateX(-125%);  /* Adjust position slightly */
    }

    .next-button {
        transform: translateY(50%) translateX(25%);  /* Adjust position slightly */
    }
}

@media (max-width: 768px) {
    .slideshow {
        height: calc(100vh - var(--login-panel-height)) !important; /* Adjust to a smaller height on mobile devices */
    }

    .slide-image {
        object-fit: contain; /* Ensure the entire image is visible */
        background-color: #000; /* Any desired background color to fill potential empty space */
    }
}

/* Responsive adjustments */
@media (max-width: 768px) {
    .welcome-message {
        font-size: 18px; /* adjust for smaller screens */
        bottom: 18%; /* adjust for smaller screens */
    }
}